<f:layout name="Default" />
<f:section name="Main">

	<div class="container">
	
		<div class="row">
			<div class="col-md-9 col-md-push-3">
				<div>
					<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}" />
				</div>
				<div class="row">
					<div class="col-md-4">
						<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '22'}" />
					</div>
					<div class="col-md-4">
						<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '23'}" />
						</div>
					<div class="col-md-4">
						<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '24'}" />
					</div>				
				</div>
			</div>
			<div class="col-md-3 col-md-pull-9">
				<div>
					<f:cObject typoscriptObjectPath="lib.navigation.main"/>
				</div>
				<div>
					<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '21'}" />
				</div>
				<div>
					<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '31'}" />
				</div>
			</div>
		</div>			
	</div>

</f:section>