<div class="localisation">
	<ul>
		<li><a href="http://europa.eu/index_fr.htm" title="vers le site de l'Union européenne" target="_blank">Europe</a></li>
		<li><a href="http://www.france.fr" title="vers le site France.fr" target="_blank">France</a></li>
		<li><a href="http://www.midipyrenees.fr" title="vers le site du Conseil Régional de Midi-Pyrénées" target="_blank">Midi-Pyrénées</a></li>
		<li><a href="http://www.lot.fr" title="vers le site du ConseilGénéral du Lot" target="_blank">Lot</a></li>
		<li><a href="{ComComUrl}" title="vers le site de {ComComTitle}" target="_blank">{ComComTitle}</a></li>
		<li><f:link.page pageUid="{rootPage}" class="navbar-brand">{siteTitle}</f:link.page></li>
	</ul>
</div>